
        /* ------------- Estilos CSS Entrega Final ------------- */

.body{
  width: 1000px;
}

/* -------- Estilos del Header --------- */

/* Logo */

.page-header{
  padding-left: 36px;
  width: 100%;
}

/* Menu */

* {
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.page-header{ /* Color Fondo Logo */
  background: #FEFEFE;
} 

.menu_bar {
  display:none;
}

header{
  width: 100%;
}

header nav{
  background: #023859;
  z-index: 1000; /*menu por arriba de los demás elementos*/
  max-width: 1600px;
  width: 100%;
  margin: 20px auto;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  position: relative;
}

header nav ul li:hover {
  background: #E65100;
}

header nav ul li a{
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 15px;
}

header nav ul li a span{
  margin-right: 10px; /*espacio entre iconos y texto*/
}

header nav ul li:hover .children{
  display: block;
}

header nav ul li .children{
  display:none;
  background: #011826;
  position: absolute;
  width: 215%;
  z-index: 1000; /* para que no se sobrepongan textos del menu con el submenu*/
}

header nav ul li .children li{
  display: block;
  overflow: hidden; 
  border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a{
  display: block;
}

header nav ul li .children li a span{
  float: right;
  position: relative;
  top: 3px;
  margin-right: 0;
  margin-left: 10px; /* espacio para que no se junte el punto con el texto*/
}

header nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

/* Responsive del Menu */

@media screen and (max-width: 800px) {
  body{
      padding-top: 80px;
  }

  .menu_bar {
      display: block;
      width: 100%;
      position: fixed;
      top: 0;
      background: #E65100;
  }

  .menu_bar .bt-menu {
      display: block;
      padding: 20px;
      color: #fff;
      overflow: hidden;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
  }

  .menu_bar span {
      float: right;
      font-size: 40px;
  }

  header nav {
      width: 80%;
      height: calc(100% - 80px);
      position: fixed;
      right: 100%;
      margin: 0;
      overflow: scroll;
  }

  header nav ul li {
      display: block;
      border-bottom: 1px solid rgba(255,255,255,.5);
  }

  header nav ul li a {
      display: block;
  }

  header nav ul li:hover .children { /*no mostrar elementos cuando pases el mouse encima*/
      display: none;
  }

  header nav ul li .children {
      width: 100%;
      position: relative;
  }

  header nav ul li .children li a {
      margin-left: 20px;
  }

  header nav ul li .caret {
      float: right;
  }
}

/* -------- Estilos del Carousel --------- */

.carousel-inner img {
  width: 100%; 
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -50px;
}

/* -------- Estilos de Trámites Principales --------- */

.card-deck{
  padding: 70px;
  margin-top: -50px;
}

.card-body{
  
}

.btn {
  background: #023859;
  block-size: 45px;
  font-family: Helvetica;
  font-size: 20px;
}

.btn:hover {
  background: #E65100;
}

.card p {
  padding-top: 15px;
  padding-left: 10px;
}


/* -------- Estilos del Footer --------- */

.footer{
  background-color: #011826;
}

.container-fluid{
  background-color: #023859;
  padding-top: 30px;
  height: 210px;
}

.container-fluid, h5{
  font-family: Helvetica;
  color: #FEFEFE;
  font-size: 12px;
}

.container-fluid, h6{
  font-family: Helvetica;
  color: #FEFEFE;
  font-size: 12px;
}

.footer2{
  background-color: #FEFEFE;
  height: 10px;
  font-size: 12px;
  font-family: Arial;
}

.list-unstyled span{
  color: #FEFEFE;
}

.list-unstyled a{
  color: #FEFEFE;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial;
}